.card-img {
	height: 200px;
	width: 200px;
	border-radius: 50px;
	border: solid black 3px;
	box-shadow:
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12),
		0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding-left: 0;
  padding-right: 0;
}

.info{
  min-width: 50vw;
}

.bisque{
  background-color: bisque;
	box-shadow:
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12),
		0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.antique{
  background-color: antiquewhite;
}

.env{
  text-align: center;
}
