.highlight{
  font-weight: bold;
}

.suggest.dropdown-menu{
  max-height: 15vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: aliceblue;
}

#input-box{
  background-color: aliceblue;
}
